body{
    margin: 0;
    height: 100vh;
    display: contents;
    justify-content: center;
    align-items: center;
    background-color: #fffdf5;
    margin: 80px;
    font-family: Arial, sans-serif;
}

header{
    background-color: #fffdf5;
    display: block;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0,0.1);
}

header img{
    margin-top: 10px;
    margin-left: 30px;
}

.container{
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 50px;
    width: 350px;
}

.login-form h2{
    text-align: center;
    margin-bottom: 5px;
}

.login-form{
    text-align: center;
}

label{
    display: flex;
    margin-top: 10px
}

label span{
    color: red;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.5px solid #eeebebbc;
}



.phone.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
}

.phone.group input{
    /* flex: 1; */
    width: 107%;
    margin-top: 12px;
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 14px;
    background-color: #a38282;
}

.flag img{
    width: 21px;
    height: 17px;
    padding: 8px;
    margin-top: 4px;
    background-color: #3A35411F;
    border: none;
    border-radius: 5px 0px 0px 5px ;
}

.country-select{
    width: 70px;
    margin-right: 24px; 
    background-color: rebeccapurple;
    padding: 5px 15px  0px 0px;
    border-radius: 0px 8px 8px 0px;
}

.country-select select{
    margin-bottom: 11px;
    width: 115%;
    justify-content: space-between;
    border: none;
    /* background: transparent; */
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.option {
    background: none;    
    border: none;
    border-radius: 0 5px 5px 0px;
}

.passwordField{
    position: relative;
    width: 100%;
    margin: 10px 00;
}

.passwordField input{
    width: 100%;
    font-size: 14px;
    border: 0.5px solid #eeebebbc;
}

.passwordField .togglePassword{
    position: absolute;
    left: 335px;
    top : 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.passwordField .togglePassword img{
    width: 20px;
    height: 20px;
}

.forgot{
    display: block;
    text-align: right;
    text-decoration: none;
    margin: 5px 0;
    font-size: 13px;
    color :#333333AD;   
}

.btn{
    width: 100%;
    padding: 7px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.btn.masuk{
    color: white;
    background-color: #3ECF4C;
    border: none;
}

.btn.daftar{
    color: #3ECF4C;
    background-color: #E2FCD9CC;
    border: none;
}

.btn.google{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid #eee;
    gap: 5px;
}

.middle{
    display: flex;
    height: 25px;
}

.middle .garis-1{
    margin-right: 5px;
    margin-top: 8px;
    width: 45%;
    height: 1px;
    background-color: rgb(228, 228, 228);
}

.middle .garis-2{
    margin-left: 5px;
    margin-top: 8px;
    width: 45%;
    height: 1px;
    background-color: rgb(228, 228, 228);
}

.divider{
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    border-top: 14px;
    line-height: .1em;
}



